@import '../../components/shared.scss';

.container
{
    background-color: $primaryColor;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), $primaryColor);
    border-radius: 20px;
    overflow: hidden;
    form
    {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        *
        {
            margin: 5px 0;
        }

        h3
        {
            font-size: 23px;
            color: white;
        }

        label
        {
            font-size: 20px;
        }

        input
        {
            font-size: 20px;
        }

        input[type=text], input[type=password]
        {   
            box-sizing: border-box;
            padding: 3px;
        }

        input[type=checkbox]
        {
            vertical-align: middle;
            width: 20px;
            height: 20px;
        }

        .inputs
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            input[type=text]
            {
                width: 80%;
            }
            
            input[type=password]
            {
                width: 100%;
            }
    
            input[type=color] {
                -webkit-appearance: none;
                border: none;
                width: 15%;
                height: 32px;
                margin-left: 5%;
            }
            input[type=color]::-webkit-color-swatch-wrapper {
                padding: 0;
            }
            input[type=color]::-webkit-color-swatch {
                border: none;
            }
        }

        .content
        {
            width: 100%;
            float: left;
            
        }
        

        input[type=submit], input[type=button]
        {   
            border: none;
            outline: none;
        }

        input[type=submit]
        {
            border-radius: 7px;
            margin-left: 10px;
            padding: 7px;
            background: white;
            color: $primaryColor;
            &:hover
            {
                cursor: pointer;
                color: white;
                background: $primaryColorDark;
            }
        }

        input[type=button]
        {            
            padding: 3px;
            background: none;
            color: $primaryDark;
            &:hover
            {
                color: white;
                cursor: pointer;
                text-decoration: underline;
            }
        }


        .buttonContainer
        {
            text-align: right;
            width: 100%;
        }
    }
    
}