@import '../../components/shared.scss';



.App
{
    width: 100%;
    
    .SideBar
    {
        background: $primaryDark;
        position: absolute;
        width: 220px;
        height: 100vh;
        left: 0;
    }


    .middleBar
    {
        
        .mapContainer
        {
            background: pink;
            overflow: hidden;
            .Map
            {
                display: block;
                margin: 0 auto;
                height: 65vh;
                
            }
        }

        .chatContainer
        {
            background: red;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 800px;
            margin: 0 auto;

            .Chat
            {
                background: green;
                width: 48%;
                height: 35vh;

            }

            #privateChat
            {
            }

            #publicChat
            {
            }

            
        }
    }
}
