@import '../../components/shared.scss';



.App
{
    width: 100%;
    display: flex;
    flex-direction: row;

    .AlertBox
    {
        z-index: 9;
        position: absolute;
        width: 100%;
    }

    .UserInfo
    {
        z-index: 9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 500px;
        height: 500px;

    }

    .MapCreateDialog
    {
        width: 300px;
        z-index: 9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .SideBar
    {
        background: $primaryDark;
        min-width: 220px;
        height: 100vh;
        left: 0;
        resize: both;
    }


    .middleBar
    {
        position: relative;
        display: flex;
        flex-flow:column;
        flex-grow: 1;
        max-height: 100vh;
        .mapContainer
        {
            width: 100%;
            max-height: 65vh;
            position: relative;
            background: $secondaryDark;
            overflow: hidden;
            .Map
            {
                //position: absolute;``
                display: block;
                margin: 0 auto;
                
            }
            
        }

        .chatContainer
        {           
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 35vh;
            margin: 0 auto;
            

            .Chat
            {
                box-sizing: border-box;
                background: $darkGray;
                width: 100%;
                height: 100%;
                padding: 15px;

                input
                {
                    background: $secondaryDark;
                    color: $white;
                    border: none;
                    padding: 7px;
                    border-radius: 4px;
                }

            }

            #privateChat
            {
                border-right: solid $primaryDark 1px;
            }

            #publicChat
            {
            }

            
        }
    }
}
