@import '../shared.scss';

.Chat
{
    display: flex;
    flex-direction: column;
    .messages
    {
        list-style: none;
        flex-grow: 1;
        overflow-y: auto;
        color: $white;
    }
    
    .inputForm
    {
        width: 100%;
        
        
        input
        {
            display: block;
            width: 100%;
            font-size: 18px;
            box-sizing: border-box;
            
        }
    }
}
