@import '../shared.scss';

.Chat
{
    display: flex;
    flex-direction: column;
    .messages
    {
        list-style: none;
        flex-grow: 1;
        overflow-y: auto;
        color: $white;     
        margin: 4px;
        li
        {
            display: flex;
            flex-direction: row;
            margin: 10px 0px;
            .flexImage
            {
                flex: 0 0 50px;
                
                img
                {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
            .flexContent
            {
                flex: 1 0 0;

                .header
                {
                    padding: 0px 10px;
                    color: $primaryColor;
                    font-size: 20px;
                    font-weight: 550;
                    .time
                    {
                        margin-left: 10px;
                        color: $gray;
                        font-size: 14px;
                        font-weight: 350;

                    }
                }

                .text
                {
                    padding: 5px 10px;
                    color: $white;

                }
            }
        }
        
    }
    
    .inputForm
    {
        width: 100%;
        
        
        input
        {
            display: block;
            width: 100%;
            font-size: 18px;
            box-sizing: border-box;
            
        }
    }
}
