$mainFont: 'Roboto', sans-serif;
$primaryColor: #23ee67;
$primaryColorDark: #16c24f;

$white: #c9c9c9;
$gray: #8D8F92;

$primaryDark: #383838;
$secondaryDark: #515151;

$break-small: 600px;

* 
{
    margin:0; padding: 0
}