$mainFont: 'Roboto', sans-serif;
$primaryColor: #23ee67;
$primaryColorDark: #16c24f;

$white: #c9c9c9;
$gray: #8D8F92;
$error: #ff5656;

$primaryDark: #383838;
$secondaryDark: #515151;
$lightGray: #414141;
$darkGray: #3f3f3f;

$break-small: 600px;

* 
{
    margin:0; padding: 0
}